<!DOCTYPE html>
{% include 'header.html' %}

<body>
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <section id="content">
                <div class="container-fluid mt-3">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">DNS Records</h6>
                        </div>
                        <div class="card-body">

                            <div>
                                You can view the DNS records here by selecting a session id.<br>
                                However, please note that the detection of ARP spoofing is inaccurate and there will be many false alarms.<br>
                                This is just a tool to compare DNS answers between packets and Google's DNS.
                            </div><br>

                            <div>
                                Select a Session ID:
                                <select class="form-select" id="dropdown">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                    </div>
                    
                    <div id="arp_section" class="d-none">
                        <div class="row">
                            <div class="col-lg-12 mt-3">
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="table_id" class="display" style="width:100%">
                                                <thead>
                                                  <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Transaction ID</th>
                                                    <th>Answers</th>
                                                    <th>External Answers</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'footer.html' %}
        </div>
    </div>
</body>

<script>
    var table;

$(document).ready(function() {
    // set navigation bar to active
    $('#nav-statistics').addClass('active');
    $('#collapseTwo').addClass('show');

    // url parameter contains session id
    session_id = JSON.parse('{{ session_id | tojson }}');

    // Retrieve session id list
    $.ajax({
        url: "/session/get_session",
        async: false,
        method: "GET",
        success: function(result) {
            result.data.forEach(session => {
                $("#dropdown").append($("<option />").val(session.id).text(session.id));

                if (session_id != null) {
                    $("#dropdown").val(session_id);
                }
            })
        }
    })

    initialiseTable(session_id);
    // Retrieve details if session_id is not null
    if (session_id != null) {
        $("#arp_section").removeClass("d-none");
    }
});

// On change function if dropdown is modified
$('#dropdown').on('change', function() {
    if (this.value != "") {
        table.ajax.url('/statistics/get_dnss?session_id='+this.value).load();
        $("#arp_section").removeClass("d-none");
    }
});

function initialiseTable(session_id) {
    table = $('#table_id').DataTable({
    ajax: {
        'type': 'GET',
        'url': '/statistics/get_dnss',
        'data': {
          'session_id': session_id
        }
    },
    columns: [
        { data: "id" },
        { data: null,
          render: function(data, type, row) {
            if (data.is_flagged) {
                var warning_icon = '<div>'+data.name+' <i class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" title="Detected different DNS Answers"></i></div>';
                return $(warning_icon).html();
            }
            return data.name;
          }
        },
        { data: "transaction_id" },
        { data: null,
            render: function(data, type, row) {
                var html = "";
                data.answers.forEach(answer => {
                    html = html.concat(answer, "<br>");
                });
                return html;
            }
        },
        { data: null,
            render: function(data, type, row) {
                if (!data.is_flagged) return "-";
                var html = "";
                data.external_answers.forEach(answer => {
                    html = html.concat(answer, "<br>");
                });
                return html;
            }
        }
    ],
    order: [],
    "autoWidth": false,
    "drawCallback": function(settings) {
        $('[data-toggle="tooltip"]').tooltip();  
    }
  });
}
</script>