<!DOCTYPE html>
{% include 'header.html' %}

<body>
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <section id="content">
                <div class="container-fluid mt-3">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Summary</h6>
                        </div>
                        <div class="card-body">

                            <div>
                                Select a Session ID:
                                <select class="form-select" id="dropdown">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                    </div>
                    
                    <div id="summary_section" class="">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Packet Timestamp</h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="curve_chart"></div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Protocols</h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="piechart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-lg-12 mt-3">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Client List</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="table_id" class="display">
                                                <thead>
                                                  <tr>
                                                    <th>MAC</th>
                                                    <th>IP</th>
                                                    <th>Vendor</th>
                                                    <th>Packets Sent</th>
                                                    <th>Packets Received</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'footer.html' %}
        </div>
    </div>
</body>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    var protocol_list;
    var timestamp_list;
    var table;

    $(document).ready(function() {
        // url parameter contains session id
        session_id = JSON.parse('{{ session_id | tojson }}');

        // Retrieve session id list
        $.ajax({
            url: "/session/get_session",
            async: false,
            method: "GET",
            success: function(result) {
                result.data.forEach(session => {
                    $("#dropdown").append($("<option />").val(session.id).text(session.id));

                    if (session_id != null) {
                        $("#dropdown").val(session_id);
                    }
                })
            }
        })

        initialiseTable(session_id);
        // Retrieve details if session_id is not null
        if (session_id != null) {
            get_protocol(session_id);
            get_timestamp(session_id);
            $("#summary_section").removeClass("d-none");
        }
    });

    // On change function if dropdown is modified
    $('#dropdown').on('change', function() {
        if (this.value != "") {
            get_protocol(this.value);
            get_timestamp(this.value);
            table.ajax.url('/statistics/get_clients?session_id='+this.value).load();
        }
    });

    function get_protocol(session_id) {
        $.ajax({
            url: "/statistics/get_protocol",
            method: "GET",
            async: false,
            data: { session_id: session_id },
            success: function(result) {
                protocol_list = result.data;

                google.charts.setOnLoadCallback(drawPieChart);
            }
        })
    }

    function get_timestamp(session_id) {
        $.ajax({
            url: "/statistics/get_timestamp",
            method: "GET",
            async: false,
            data: { session_id: session_id },
            success: function(result) {
                timestamp_list = result.data;

                google.charts.setOnLoadCallback(drawLineChart);
            }
        })
    }

    function initialiseTable(session_id) {
        table = $('#table_id').DataTable({
        ajax: {
            'type': 'GET',
            'url': '/statistics/get_clients',
            'data': {
              'session_id': session_id
            }
        },
        columns: [
          { data: "mac" },
          { data: "ip" },
          { data: "vendor" },
          { data: "packets_sent" },
          { data: "packets_rec" },
        ],
        order: [],
        createdRow: function(row, data, dataIndex) {
            if(data.is_ap) {
                $(row).addClass('bg-info text-white');
            }
        }
      });
    }

    function drawLineChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'time')
        data.addColumn('number', 'sent');
        data.addColumn('number', 'received');
        timestamp_list.forEach(packet => {
            data.addRow([new Date(packet.timestamp * 1000), packet.count_sent, packet.count_rec]);
        });

        var options = { 
            curveType: 'function',
            legend: { position: 'none' },
            vAxis: { viewWindow: { min: 0 }},
            hAxis: { format: 'HH:mm' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }

    function drawPieChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'type');
        data.addColumn('number', 'count');
        protocol_list.forEach(protocol => {
            data.addRow([protocol.type, protocol.count]);
        })

        var options = {
            width: '100%',
            height: '100%',
            chartArea: { width: '100%', height: '100%' }
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>